.card{
    background-color: white;
    width: fit-content;
    border-radius: 10px;
}
.card-content{
    padding:10px ;
}
.card-subtitle{
    color: #979797;
}
.card img{
    width: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.cardsContainer{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 100vw;
}